@page "/counter"

<div class="container">
    <div class="container-fluid mojaklasa">
        <nav class="nav">           
              <NavLink class="nav-link" href="login">
                  <span class="oi oi-account-login"></span> Login
              </NavLink>
              <NavLink class="nav-link" href="register" >
                  <span class="oi oi-cloud-upload"></span> Register
              </NavLink>
        </nav>
    </div>
</div>

@code {
   
}
