@page "/login"
@using Mojchet.Shared

<h3>Login</h3>

<input type="text" @bind="Luser" />
<input type="text" @bind="Lpasword" />

@code {
    public string Luser;
    public string Lpasword;
    People covek = new People();

}
